.nav-link:hover {
    color: #007BFF !important;
}

.login-btn {
    color: #111;
    text-decoration: none;
    padding:12px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.login-btn:hover {
    background: #007BFF;
    color: #fff;
}

.custom-toggler {
    border-color: #007BFF;
}

.custom-toggler .navbar-toggler-icon {
    background-image: none;
    position: relative;
}

.custom-toggler .navbar-toggler-icon::before {
    content: "☰";
    color: #007BFF;
    font-size: 24px;
}

.custom-toggler:focus {
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.4) !important; */
    color: #007BFF !important;
}


/* Mobile spacing */
@media (max-width: 991px) {
    .mobile-nav .nav-item {
        margin-bottom: 10px;
    }

    .mobile-nav {
        margin-top: 10px;
    }

}